{% extends 'main.html' %}


{% block content %}
<h1>Home Template</h1>

<div>
    <a href="{% url 'create-room' %}">Create Room</a>
    <hr>
    <div>
        {% for room in rooms %}
        <div>
            <a href ="{% url 'update-room' room.id %}">Edit</a>
            <span>@{{room.host.username}}</span>
            <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}